:root { font: 20px/1.2 "Roboto", sans-serif; }
/* defines for root element */

body,
body * {
    margin:             unset;
    padding:            unset;
    box-sizing:         unset;
    font-size:          unset;
    color:              unset;
    text-decoration:    unset;
}